img {
	position: relative;
	height: 12rem;
	width: 12rem;
}

hr {
	height: 2px;
	width: 100%;
	background-color: var(--white);
}

.circle {
	border-radius: 50%;
}

.content,
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 4rem;
}

.image-container {
	border: solid 2px black;
	overflow: hidden;
	width: 8rem;
	height: 8rem;
}

.container {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: start;
  gap: 0.5rem;
}

.header {
	background-color: var(--black);
	height: 100%;
	width: 15%;
	padding: 4rem 0.5rem 4rem 1rem;
}

.header .nav-title {
	color: var(--white);
}

.nav-title {
	font-size: 1.5rem;
}

.text {
	color: var(--white);
}
