hr {
	width: 100%;
	background-color: var(--white);
}

hr.black {
	background-color: var(--black);
}

input {
	background: none;
	border: none;
}

input:focus {
	outline: none;
}

input[type='file'] {
	position: absolute;
	visibility: hidden;
}

/* SIDEBAR */

.circle {
	border-radius: 50%;
}

.content,
.header,
.main {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	gap: 4rem;
}

.container,
.content-container {
	display: flex;
	gap: 0.5rem;
}

.container {
	width: 80%;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
}

.container div:not(.bar-container) {
	width: 100%;
	text-align: start;
}

.content-container {
	gap: 1rem;
	align-items: center;
	text-align: start;
}

.content-container img {
	width: 1.5rem;
	height: 1.5rem;
	filter: invert(100%);
}

.decor {
	flex-shrink: 0;
	flex-grow: 0;
	position: relative;
	right: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--blue);
	border-radius: 50%;
	width: 9rem;
	height: 9rem;
}

.decor::before {
	flex-shrink: 0;
	content: '';
	position: absolute;
	background-color: var(--blue);
	width: 20rem;
	height: 8.94rem;
	right: 50%;
}

#fileLabel {
	position: absolute;
	width: 100%;
	height: 100%;
}

.image-container {
	border: solid 2px black;
	overflow: hidden;
	width: 8rem;
	height: 8rem;
	z-index: 1;
}

.header {
	background-color: var(--black);
	height: 100%;
	width: var(--header-size);
	padding: 4rem 0.5rem 4rem 1rem;
	flex-shrink: 0;
}

.nav-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.nav-title:not(.blue) {
	letter-spacing: 0.1rem;
}

.profile {
	position: relative;
	margin-left: 50%;
	transform: translateX(-50%) translateY(-15%);
	object-fit: contain;
	height: 12rem;
	width: 12rem;
	pointer-events: none;
	-webkit-user-drag: none;
	user-select: none;
}

/* END SIDEBAR */

.main {
	width: 100%;
	color: var(--black);
	padding: 4rem;
}

.title {
	font-size: 6rem;
	font-weight: bold;
	text-align: center;
}

.subtitle {
	font-size: 1.5rem;
	letter-spacing: 4px;
}

.grid-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.bar-container {
	height: 0.5rem;
	width: 8rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: hsla(0, 0%, 22%, 0.1);
	border-radius: 1rem;
	overflow: hidden;
	border: 1px var(--black) solid;
}

.bar {
	background-color: var(--blue);
	height: 100%;
}

/* SIMPLE CLASSES */

.white {
	color: var(--white);
}

.small {
	font-size: 0.75rem;
}

.blue {
	color: var(--blue);
}

.black {
	color: var(--black);
}
