img {
	position: relative;
	height: 12rem;
	width: 12rem;
}

hr {
	height: 2px;
	width: 100%;
	background-color: var(--white);
}

.circle {
	border-radius: 50%;
}

.content,
.header {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	gap: 4rem;
}

.container,
.content-container {
	display: flex;
	gap: 0.5rem;
}

.container {
	width: 80%;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
}

.content-container {
	gap: 1rem;
	align-items: center;
	text-align: start;
}

.content-container img {
	width: 1.5rem;
	height: 1.5rem;
	filter: invert(100%);
}

.image-container {
	border: solid 2px black;
	overflow: hidden;
	width: 8rem;
	height: 8rem;
}

.header {
	background-color: var(--black);
	height: 100%;
	width: 15%;
	padding: 4rem 0.5rem 4rem 1rem;
}

.nav-title {
	font-size: 1.5rem;
}

.text {
	color: var(--white);
}

/* SIMPLE CLASSES */

.white {
	color: var(--white);
}

.small {
	font-size: .75rem;
}
