:root {
  --white: hsl(0, 0%, 96.5%);
  --black: hsl(0, 0%, 22%);
  --blue: hsl(198, 77%, 53%);
  
  --black-focus: hsl(0, 0%, 25%);
  --white-focus: hsl(0, 0%, 92%);

	--header-size: max(20rem, 20%);
}

#root {
  width: 100vw;
  display: flex;
  font-family: 'Nunito';
  height: 100vh;
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
}
